
.paymentIcon {
    margin: 1vh;
    color: #39ff13;
    height: 4vh;
    width: 4vh;
}

.title {
    text-align: center;
    font-size: xxx-large;
    padding: 1vh;
    margin-bottom: 2vh;
    text-decoration: underline;
    text-decoration-color: #39ff13;
}

.statsBox {
    width: 80%;
    border-radius: 10px;
    height: 20vh;
    box-shadow: 5px 5px 2px #39ff13;
    background-color: #27282b;
    margin-bottom: 4vh;
}

.reviewBox {
    border-top: 5px solid #39ff13 ;
    width: 80%;
    border-radius: 10px;
    height: 20vh;
    background-color: #121212;
    margin-bottom: 6vh;
    transition: all 0.3s ease-in-out;
}

.reviewContent {
    margin: 12%
}

.reviewName {
    color: #2cc20e;
}

.statsIcon {
    margin: 1vh;
    color: #39ff13;
    height: 6vh;
    width: 6vh;
}

.statsText {
    font-size: x-large;
    margin-top: 1vh;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signUpLink {
    text-decoration: none;
    color: #2cc20e;
    font-size: medium;
}

.signUpLink:hover {
    color: #39ff13;
    text-decoration: underline;
}

.howItWorksCard {
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
    border-radius: 10px;
    height: 75vh;
    width: 300px;
    border: 1px solid white;
}
