.App {
    text-align: center;
}

.cardTitle {
    margin-top: 10px;
    text-align: center;
    font-size: xx-large;
}

.Logo {
    left: 20px;
    margin-top: 7px;
    z-index: 1;
}


.pivotContent {
    margin-left: 15px;
    margin-top: 10px;
}



.friendChatBox {
    border: 1px solid #575759;
    border-radius: 5px;
    background-color: #1e1f21;
    position: fixed;
    bottom: 90px;
    right: 5px;
    z-index: 100;
    margin-right: 20%;
    padding-bottom: 74px;
    width: 20%;
    height: 70%;
}



.Divider {
    font-size: 1px;
    border-top: 1px solid;
    margin-bottom: 15px;
}

.lobbyBox {
    width: 100%;
}

.fChatBox {
    height: 100%;
    overflow-y: scroll;
}

.lChatBox {
    margin-top: 30px;
    height: 300px;
    overflow-y: scroll;
}

.lobbyBoxItem {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #39ff13;
}

.separator {
    font-size: 1px;
    margin-bottom: 5px;
    padding: 0px;
}
.headerLogo {
    border: 0;
    margin-top: 7px;
}

.adminCreatePanel {
    height: 105px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #575759;
    margin-bottom: 20px;
}
