.App {
  text-align: center;
}

.cardTitle{
  margin-top: 10px;
  text-align: center;
  font-size: xx-large;
}
.Logo{
  left: 20px;
  margin-top: 7px;
  z-index: 1;
}
.commandBar{
  margin-top: 15px;
}
.Header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index:100;
  padding-bottom:15px;
}
.pivotContent{
  margin-left: 15px;
}
.accountProfile{
  width: 100%;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 30px;
  border: 1px solid #575759;
}
.accountDisable{
  width: 100%;
  height: 70px;
  margin-top: 10px;
  border: 1px solid #575759;
}
.Divider{
  font-size: 1px;
  border-top: 1px solid;
  margin-bottom: 15px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.lobbyBox{
  width: 100%;
}
.chatBox{
  margin-top: 30px;
  height:300px;
  overflow-y: scroll;
}

.lobbyBoxItemDark{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #39ff13;
}
.lobbyBoxItemLight{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #098a00;
}
.separator{
  font-size:1px;
  margin-bottom: 5px;
  padding:0px;
}
.headerLogo{
  border: 0;
  marginTop:"7px";
}


